[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:elgansayer/godot-cpp.git
	branch = 4.2
[submodule "openmohaa"]
	path = openmohaa
	url = git@github.com:elgansayer/openmohaa-godot.git
	branch = godot
