[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/elgansayer/godot-cpp.git
	branch = 4.2
[submodule "openmohaa"]
	path = openmohaa
	url = https://github.com/elgansayer/openmohaa-godot.git
	branch = godot
